.board {
    display: flex;
    align-items: center;
    justify-content: center;
}
.rectangle {
    display: inline-block;
    width: 500px;
    height: 500px;
    border-style: solid;
    border-radius: 3px;
}
.letter {
    font-size: 24px;
    padding: 10px;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto ;
    grid-auto-flow: dense;
    padding: 10px;
  }
  .grid-item {
    padding: 4px;
    font-size: 30px;
    text-align: center;
  }